[build]
builder = "dockerfile"

[deploy]
startCommand = "node dist/main.js"
# healthcheckPath = "/health"
# healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3

[env]
NODE_ENV = "production"
PORT = "3001"