@import "tailwindcss";

@theme {
  --radius-lg: 0.5rem;
  --radius-md: calc(0.5rem - 2px);
  --radius-sm: calc(0.5rem - 4px);

  --color-background: oklch(13.6% 0.0343 258.23);
  --color-foreground: oklch(97.3% 0.0132 256.05);
  --color-card: oklch(13.6% 0.0343 258.23);
  --color-card-foreground: oklch(97.3% 0.0132 256.05);
  --color-popover: oklch(13.6% 0.0343 258.23);
  --color-popover-foreground: oklch(97.3% 0.0132 256.05);
  --color-primary: oklch(97.3% 0.0132 256.05);
  --color-primary-foreground: oklch(24% 0.0388 259.14);
  --color-secondary: oklch(27.4% 0.0231 259.87);
  --color-secondary-foreground: oklch(97.3% 0.0132 256.05);
  --color-muted: oklch(27.4% 0.0231 259.87);
  --color-muted-foreground: oklch(71.9% 0.0189 255.67);
  --color-accent: oklch(27.4% 0.0231 259.87);
  --color-accent-foreground: oklch(97.3% 0.0132 256.05);
  --color-destructive: oklch(42.6% 0.1265 24.13);
  --color-destructive-foreground: oklch(97.3% 0.0132 256.05);
  --color-border: oklch(27.4% 0.0231 259.87);
  --color-input: oklch(27.4% 0.0231 259.87);
  --color-ring: oklch(86.2% 0.0179 251.27);
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}
